@font-face {
  font-family: 'Helvetica', sans-serif;
  src: url(../fonts/helvetica.woff2);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Helvetica-Bold', sans-serif;
  src: url(../fonts/helvetica.woff2);
  font-style: normal;
  font-weight: 700;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

body {
  font-family: 'Helvetica', sans-serif;
  font-weight: 14;
  font-size: 16px;
  line-height: 1.4;
  color: #5c5c5e;
}

.header {
  border-bottom: 1px solid #f6f4f5;
  background-color: #f6f4f5;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.menu-list {
  display: flex;
  gap: 0 20px;
}

.menu-link {
  text-transform: uppercase;
}

.basket {
  display: block;
  position: relative;
}

/* .basket-on {
  position: absolute;
  bottom: -2px;
  right: -2px;
  width: 15px;
  height: 15px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  background-color: #000;
  color: #fff;
} */

.top {
  min-height: calc(100vh - 81px);
  background-image: url('../images/top-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  margin-bottom: 100px;
}

.top-title {
  padding-top: 16%;
  font-size: 96px;
  margin-bottom: 10px;
}

.top-subtitle {
  font-size: 36px;
  margin-bottom: 5px;
}

.top-text {
  font-size: 13px;
  margin-bottom: 50px;
}

.buy-btn {
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
  display: flex;
  padding: 0;
  /* padding-top: 21px;
  padding-bottom: 21px; */
  padding: 1px;
  font-weight: 700;
}

.buy-btn-text {
  color: #f6f4f5;
  /* padding-left: 111px;
  padding-right: 111px; */
  padding: 20px 110px;
}

.buy-btn-price {
  background-color: #f6f4f5;
  /* padding-left: 106px;
  padding-right: 106px; */
  padding: 20px 105px;
}

.top-buy-text {
  font-size: 13px;
  padding-top: 6px;
}
